

body{
 background-image:url("verde2.jpg");
}

.contenido-izquierdo{
    background-color: lightseagreen;
   height: 100%;
   width: 40%;
   margin-left: 60px;
   text-align: center;
   box-sizing:border-box;
   float: left;
   height:fit-content;
 
}
.informacion-de-contacto{
    background-color: cornflowerblue;
    border-radius: 10px;
    height: 200px;
    margin:20px;
    height:fit-content;
    
}
.conocimientos{
    background-color: cornflowerblue;
    border-radius: 10px;
    height: 200px;
    margin:20px;
    height:fit-content;
}
.referencias{
    background-color: cornflowerblue;
    border-radius: 10px;
    height: 200px;
    margin:20px;
    height:fit-content;

}
.redes{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    margin:20px;
    text-decoration: underline;
    height:fit-content;

}

aside{
    background-color:cornflowerblue;
    height: 100%;
    width: 50%;
    margin-right: 60px;
    text-align: center;
    box-sizing:border-box;
    float: right;
    height: fit-content;
}
h3{
    font-size: 30px;
    text-decoration:underline;
}
p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
#micro{
    cursor:pointer;
}
#google{
    cursor: pointer;
}
#tel1{
    cursor: pointer;
}
#tel2{
    cursor: pointer;
}

.lista1{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.lista2{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.lista3{
    font-family:'Nunito Sans', sans-serif;
    text-align: left;
    text-decoration: underline;
   
}
.nombre{
    font-size: 40px;
    text-decoration: underline;
    font-weight: bolder;
}
.imagen-de-perfil{
    margin-top: 10px;
    height: 250px;
    width: 300px;
}
.acerca-de-mi{
    background-color: lightseagreen;
    margin:20px;
    border-radius: 10px;
    height:300px;
}
.experiencia-laboral{
    background-color:lightseagreen;
    margin:20px;
    border-radius: 10px;
    height: 300px;
}
.educación{
    background-color: lightseagreen;
    margin:20px;
    height: 270px;
    
    border-radius: 10px;
}
@media screen and (max-width: 1024px){
    .resumen{width:100%}
}
@media screen and(min-width:321px)and (max-width:1023px){
    .resumen{width:100%}
}
@media screen and (max-width:320px){
    .resumen{width:100%}
}




    


